body {
    background-color: rgb(35, 79, 60);
    text-align: center;
}
header {
    background-color: rgb(35, 79, 60);
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: 48px;
    color: rgb(14, 105, 63);
    }
.informin{
    position: relative;
    bottom: 50px;
    }
.titulo {
    background-color:rgb(86 143 112 );
    height: 30px; 
    position: relative;
    bottom: -80px;           
}
.linea2 {
    height: 80px;
    background-color: rgb(83, 179, 134);
}
.containersuscrib {
    margin-top: 10
    px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;    
    position:relative;
    bottom: -60px;
    width: 100%;
    height: 200px;
    padding: 0;
    background-color: rgb(35, 79, 60);
    color: rgb(159, 140, 140);              
}
.logo {
    position: absolute;
    top: 40px;
    left: 60px;    
}
a {
    margin: 40px;
    margin-bottom: 30px;
    color: rgb(38, 143, 66);    
}
.linea {
    display: none;    
}
footer {    
    position: relative;
    bottom: -170px;
    color: silver;
    background-color: transparent;
}
h3 {
    color:rgb(155, 204, 188);
    position: relative;
    bottom: 70px;
}
h4 {
    color: rgb(42, 171, 152);
}
footer.rebelde {
    position: relative;
    bottom: -200px;
}
@media screen and (max-width: 600px){
    body {    
        position: static;
        left: 0px;
        top: 0px;   
        background-color: black;  
        transform: scale(1);
        text-align: center;
        }        
        .container {  
          display: grid;
          grid-template-columns:  1fr 1fr;  
          grid-template-rows: 1fr 1fr 1fr;  
          position:static;
          top: 0px;
          left: 0px;
          color: silver;
          border-style: groove;
          background: linear-gradient(to top, silver, rgb(18 26 98));  
          height: 100%;
          width: 100%;
          text-align: center;
          border-radius: 5%;
        }
        .containersuscrib {
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: 1fr 1fr 1fr;
          position:static;
          top: 0px;
          left: 0px;
          color: silver;
          border-style: groove;
          background: linear-gradient(to top, silver, rgb(18 26 98));  
          height: 100%;
          width: 100%;
          text-align: center;
          border-radius: 5%;
        }
        .flag {
          border-color: none;
          position: relative;
          right: 110px;
          bottom: -40px;
        }  
        .informin {  
          position: relative;
          bottom: -15px;
          color:rgb(72, 102, 223);
        }    
        .foot {  
          position: relative;
          bottom: -25px;
          width: 100%;
          height: 30px;
          background-color: rgb(7, 27, 85);
          letter-spacing: 1px;
          font-size: 10px;
        }          
        img {
          border-radius: 10%;
          margin: 30px;
          border-style: solid;
          border-color: rgb(23 45 123);  
        }
        .noborder {
            border-style: none;
        }
        .logo {
          border-style: none
        }
        button {
            color: silver;
            background-color: rgb(23 45 123);
        }
        h3 {
            color: rgb(68 108 214);
            font-size:  12px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            position: relative;
            bottom: -15px;      
        }
        .formato {
            height: 410px;
            
        }
        .pantallainicio {
            position: relative;
            bottom: -200px;
        }
        .foot {
            position: relative;
            bottom: 5px;
        }
        .linea {
            display: none;
        }
        
}